In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('D:\Desktop\Python\Ejercicios Ciencia de datos\data.csv')

In [6]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [7]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
count,4.600000e+03,4600.000000,4600.000000,4600.000000,4.600000e+03,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000,4600.000000
mean,5.519630e+05,3.400870,2.160815,2139.346957,1.485252e+04,1.512065,0.007174,0.240652,3.451739,1827.265435,312.081522,1970.786304,808.608261
std,5.638347e+05,0.908848,0.783781,963.206916,3.588444e+04,0.538288,0.084404,0.778405,0.677230,862.168977,464.137228,29.731848,979.414536
min,0.000000e+00,0.000000,0.000000,370.000000,6.380000e+02,1.000000,0.000000,0.000000,1.000000,370.000000,0.000000,1900.000000,0.000000
25%,3.228750e+05,3.000000,1.750000,1460.000000,5.000750e+03,1.000000,0.000000,0.000000,3.000000,1190.000000,0.000000,1951.000000,0.000000
50%,4.609435e+05,3.000000,2.250000,1980.000000,7.683000e+03,1.500000,0.000000,0.000000,3.000000,1590.000000,0.000000,1976.000000,0.000000
75%,6.549625e+05,4.000000,2.500000,2620.000000,1.100125e+04,2.000000,0.000000,0.000000,4.000000,2300.000000,610.000000,1997.000000,1999.000000
max,2.659000e+07,9.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,9410.000000,4820.000000,2014.000000,2014.000000

In [8]:
df.shape

(4600, 18)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

# Machine Learning

In [10]:
y = df['price']
X = df[['bedrooms','bathrooms','floors','condition','yr_renovated','yr_built','sqft_above','sqft_basement','waterfront', 'view']]

In [11]:
from sklearn.tree import DecisionTreeRegressor

precio_model = DecisionTreeRegressor()
precio_model.fit(X,y)

DecisionTreeRegressor()

In [12]:
print('Predicciones para las 5 primeras casas.')
print(X.head().round())
print('El precio real es:')
print(y.head())
print('Las predicciones son:')
print(precio_model.predict(X.head()))

Predicciones para las 5 primeras casas.
   bedrooms  bathrooms  floors  condition  yr_renovated  yr_built  sqft_above  \
0       3.0        2.0     2.0          3          2005      1955        1340
1       5.0        2.0     2.0          5             0      1921        3370
2       3.0        2.0     1.0          4             0      1966        1930
3       3.0        2.0     1.0          4             0      1963        1000
4       4.0        2.0     1.0          4          1992      1976        1140

   sqft_basement  waterfront  view
0              0           0     0
1            280           0     4
2              0           0     0
3           1000           0     0
4            800           0     0
El precio real es:
0     313000.0
1    2384000.0
2     342000.0
3     420000.0
4     550000.0
Name: price, dtype: float64
Las predicciones son:
[ 313000. 2384000.  342000.  420000.  550000.]

# MAE ### Error absoluto

In [13]:
from sklearn.metrics import mean_absolute_error
preddiccion_casas_precios = precio_model.predict(X)
mean_absolute_error(y, preddiccion_casas_precios)

1211.5383540373914

# Validacion

In [14]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X,y)

melbroune_model = DecisionTreeRegressor()

melbroune_model.fit(train_X, train_y)
val_predictions = melbroune_model.predict(val_X)

print(mean_absolute_error(val_y,val_predictions))

223625.32052783304

In [15]:
def get_mae(max_leaf_nodes,train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes)
    model.fit(train_X,train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y,preds_val)
    return(mae)

In [16]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes,train_X, val_X, train_y, val_y)
    print('Max leaf nodes %d \t\t Mean Absolute Error: %d '%(max_leaf_nodes, my_mae))

Max leaf nodes 5 		 Mean Absolute Error: 204519
Max leaf nodes 50 		 Mean Absolute Error: 179327
Max leaf nodes 500 		 Mean Absolute Error: 201485
Max leaf nodes 5000 		 Mean Absolute Error: 228546